.Post {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  background-color: #2e445a;
  align-items: center;
  margin: 30px 0;
}
.Post-user {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.Post-user-name {
  display: flex;
  align-items: center;
}
.Post-user img {
  border-radius: 200px;
  width: 60px;
  height: 60px;
  margin: 5px 20px;
}
.Post-user p {
  font-size: 22px;
}
.Post-user span {
  margin-right: 15px;
}
.Post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Post-body h2 {
  align-self: flex-start;
  margin: 6px;
  margin-left: 9%;
}
.Post-body img {
  width: 80%;
  max-height: 450px;
}
.Post-body p {
  width: 80%;
  background-color: #130f0f3b;
  padding: 10px;
  text-align: justify;
  margin: 10px 0;
}
.Post-options {
  width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

@keyframes like {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: right;
  }
}
.like {
  cursor: pointer;
  width: 90px;
  height: 90px;
  background-image: url('../../assets//like.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.like.is-liked {
  animation-name: like;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(28);
}